@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

html
{
	font-family: 'Roboto', sans-serif;
	background-color: #111111 !important;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
   flex: 1 0 auto;
}

nav
{
	position: fixed !important;
	top: 0;
	z-index: 5;
	background-color: #000000 !important;
}

nav a
{
	color: #AEEA00 !important;
}

input
{
	color: #AEEA00;
}

h1, h2, h3, h4, h5, h6
{
	color: #AEEA00 !important;
}

p
{
	color: #AEEA00 !important;
}

a{
	color: #26C6DA !important;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.input-field label
{
	color: #4A4A4A;
}
  
.input-field label .active
{
	color: #AEEA00;
}

.input-field .helper-text
{
	color: #AEEA00;
}

.modal
{
	background-color: #000000 !important;
}

.page-footer
{
	background-color: #222222;
	padding-top: 0px !important;
	margin-top: 2em;
}

.page-footer .footer-copyright
{
	background-color: #000000;
}

.progress
{
	background-color: #000000;
}
  
.progress .indeterminate
{
	background-color: #AEEA00;
}

.sidenav
{
	background-color: #000000;
	color: #AEEA00;
}

.sidenav a, .sidenav i
{
	color: #AEEA00 !important;
}

@media only screen and (max-width: 601px)
{
	.sidenav .active
	{
		color: #000000 !important;
		background-color: #AEEA00 !important;
	}

	.sidenav .active i
	{
		color: #000000 !important;
		background-color: #AEEA00 !important;
	}
}

@media only screen and (min-width: 601px)
{
	.active
	{
		color: #000000 !important;
		background-color: #AEEA00 !important;
	}

	.active i
	{
		color: #000000 !important;
		background-color: #AEEA00 !important;
	}

	.input-field .active{
		background-color: transparent !important;
		color: #4A4A4A !important;
	}
}

.input-field i
{
	color: #AEEA00 !important;
}

.section-first
{
	margin-top: 5em;
}

.row
{
	margin-bottom: 0px !important;
}

.row .col
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.section-first
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.section
{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

#download_resume_footer
{
	margin-bottom: 1em;
}

#footer_row
{
	padding-bottom: 2em !important;
}

::placeholder
{
	color: #777777 !important;
}
  
::-webkit-scrollbar
{
	width: 10px;
}
  
::-webkit-scrollbar-track
{
	background: #000000;
}
  
::-webkit-scrollbar-thumb
{
	background: #AEEA0099; 
	border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover
{
	background: #AEEA00; 
}